    /*general rules */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: 0px;
    background-color: transparent;
}

a:visited {
    color: #000;
}

a {
    text-decoration: none;
    user-select: none;
    padding: 0px;
}

    /*navbar*/

#header {
    box-shadow: 5px 0px 15px rgb(235, 235, 235);
    position: sticky;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navbar-container {
    margin: 0px 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#nav-left img {
    height: 40px;
}

#nav-right * {
    padding: 5px;
}

#membership {
    border: 1px solid grey;
    border-radius: 20px;
}

    /*main body*/

#container {
    margin: auto;
    display: flex;
    margin-top: 25px;
    width: fit-content;
    width: 80%;
}

    /*article details, same in main articles and recently saved*/

.article-info-bar {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: small;
}

.article-info-bar i {
    padding-right: 5px;
    font-size: smaller;
}

h6 {
    padding: 5px;
    color: rgb(126, 126, 126);
    font-size: 10pt;
    margin-bottom: 2px;
}

    /*left section*/

#left-content {
    width: 60%;
    border-right: 1px solid rgb(236, 236, 236);
}

    /* selection bar */

#select-section {
    display: flex;
    border-bottom: 1.5px solid rgb(236, 236, 236);
    color: rgb(126, 126, 126);
}

#select-section div {
    padding: 5px;
    margin-left: 7px;
}

#recommended-for-you {
    color: black;
    border-bottom: 1.5px solid black;
    transform: translateY(1px);
}

    /*main articles area*/

.main-article {
    display: flex;
    align-items: center;
    margin: 30px;
}

.main-article-info {
    width: 75%;
}

.main-article-title {
    font-weight: bold;
    font-size: larger;
}

.main-article-content {
    color: rgb(126, 126, 126);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-article-details {
    display: flex;
    justify-content: space-between;
}

.main-article-details-specs {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    font-size: 8pt;
    color: rgb(126, 126, 126);
}

.main-article-details-specs .fa-solid, .main-article-actions .fa-solid {
    padding: 7px;
}

.main-article-topic {
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    padding: 8px;
}

.main-article-cover {
    margin-left: 25px;
    width: 20%;
    height: 140px;
    object-fit: cover;
}

    /*right section*/

#right-menu {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

#right-menu>div {
    margin: 15px 80px;
}

.section-title {
    font-weight: 500;
    padding: 8px;
    font-size: medium;
}

    /*connect twitter*/

#connect-twitter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 11pt;
    border-bottom: 1px rgb(236, 236, 236) solid;
}

#connect-twitter * {
    margin: 5px;
}

#medium-x {
    display: flex;
}

#connect-twitter img {
    height: 15px;
}

#button-connectx {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #6b6b6b solid;
    width: 150px;
    border-radius: 50px;
    padding: 5px;
    font-size: medium;
    font-size: smaller;
}

#button-connectx img {
    transform: translate(10px, -1px);
}

#maybelater {
    text-decoration: underline;
    color: rgb(126, 126, 126);
}

    /*recommended topics*/

#topic-box {
    display: flex;
    flex-wrap: wrap;
}

#topic-box div {
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    font-size: small;
}

    /*follow suggestions*/

.user-record {
    display: flex;
    align-items: center;
    margin: 8px;
    font-size: small;

}
.user-photo {
    padding: 15px;
    font-size: larger;
}

.user-description {
    width: 100px;
    color: rgb(126, 126, 126);
    font-size: x-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.follow-button {
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    padding: 10px;
    color: rgb(126, 126, 126);
    margin-left: 20px;
}

.follow-button a {
    color: grey;
    
}

    /* recently saved */

.article * {
    padding: 1.5px;   
}

.article {
    margin: 10px 0px
}

.article-info-title, .author-name, .author-img {
    font-weight: bold;
    font-size: small;
}

.article-title {
    font-weight: bold;
}

.article-details {
    color: rgb(126, 126, 126);
    font-size: x-small;
    display: flex;
}

.fa-square {
    font-size: 2px;
    vertical-align:middle
}

.fa-star {
    font-size: 8px;
    vertical-align: middle;
}

#see-all {
    color: #63895C;
    font-size: smaller;
    margin-top: 10px;
}

    /* bottom menu */

#bottom-menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 10pt;
}

.menu-link:link, .menu-link:visited {
    color: rgb(126, 126, 126);
    padding: 12px;
    padding-left: 0px;
}